<h2>Lista de Articulosooo123</h2><br>
<table class="table">
    <tr>
        <td><h5 class="fw-bold">ID</h5></td>
        <td><h5 class="fw-bold">NOMBRE</h5></td>
        <td><h5 class="fw-bold">DESCRIPCIÓN</h5></td>
        <td><h5 class="fw-bold">COD. DE BARRAS</h5></td>
        <td><h5 class="fw-bold">CATEGORÍA</h5></td>
        <td><h5 class="fw-bold">FOTOGRAFÍA</h5></td>
        <td><h5 class="fw-bold">STOCK</h5></td>
        <td><h5 class="fw-bold">DISPONIBLE</h5></td>
        <td><h5 class="fw-bold">PRECIO COMPRA</h5></td>
        <td><h5 class="fw-bold">PRECIO VENTA</h5></td>
        <td><h5 class="fw-bold">ACTIVO</h5></td></tr>
    @for(articulo of listaarticulos; track articulo.id){
        <tr>
             <td>{{articulo.id}}</td>
             <td>{{articulo.nombre}}</td>
             <td>{{articulo.descripcion}}</td>
             <td>{{articulo.codigoBarras}}</td>
             <td>{{articulo.categoria}}</td>
             <td>{{articulo.fotografia}}</td>
             <td>{{articulo.stock}}</td>
             <td>{{articulo.disponible}}</td>
             <td>{{articulo.precioCompra}}</td>
             <td>{{articulo.precioVenta}}</td>
             <td>{{articulo.activo}}</td>                       
           
            <td><input type="button" class="btn btn-warning" value="Borrar"(click)="borrar(articulo)"></td>
           
   }
</table>
<table>
<tr>
    <td><a routerLink="/">otra direccion</a></td>
</tr> 
    

</table>
<a href="" class="btn-primary">bootstrap</a>