<h2>Lista de Articulos</h2><br>
<table class="table">
    <tr>
        <td><h3 class="fw-bold">ID</h3></td>
        <td><h4 class="fw-bold">NOMBRE</h4></td>
        <td><h4 class="fw-bold">DESCRIPCIÓN</h4></td>
        <td><h4 class="fw-bold">COD. DE BARRAS</h4></td>
        <td><h4 class="fw-bold">CATEGORÍA</h4></td>
        <td><h4 class="fw-bold">FOTOGRAFÍA</h4></td>
        <td><h4 class="fw-bold">STOCK</h4></td>
        <td><h4 class="fw-bold">DISPONIBLE</h4></td>
        <td><h4 class="fw-bold">PRECIO COMPRA</h4></td>
        <td><h4 class="fw-bold">PRECIO VENTA</h4></td>
        <td><h4 class="fw-bold">ACTIVO</h4></td></tr>
    @for(articulo of listaarticulos; track articulo.id){
        <tr>
             <td>{{articulo.id}}</td>
             <td>{{articulo.nombre}}</td>
             <td>{{articulo.descripcion}}</td>
             <td>{{articulo.codigoBarras}}</td>
             <td>{{articulo.categoria}}</td>
             <td>{{articulo.fotografia}}</td>
             <td>{{articulo.stock}}</td>
             <td>{{articulo.disponible}}</td>
             <td>{{articulo.precioCompra}}</td>
             <td>{{articulo.precioVenta}}</td>
             <td>{{articulo.activo}}</td>                       
           
            <td><input type="button" class="btn btn-warning" value="Borrar"(click)="borrar(articulo)"></td>
   }
</table>
<table>
<tr>
    <td><a routerLink="/">otra direccion</a></td>
</tr> 
    

</table>
